<form action="" (submit)="onSubmitForm($event)">
    <div>
        <label for="firstname">Prénom :</label>
        <input type="text" name="firstname" id="firstname" [value]="firstName" (change)="onChangeFirstName($event)">
    </div>
    <div>
        <label for="lastname">Nom :</label>
        <input type="text" name="lastname" id="lastname" [value]="lastName" (change)="onChangeLastName($event)">
    </div>
    <div>
        <label for="age">Âge :</label>
        <input type="number" min="0" name="age" id="age" [value]="age" (change)="onChangeAge($event)">
    </div>
    <button>Envoyer</button>
</form>