<h2>Ajouter un contact :</h2>
<form action="" (submit)="onSubmitForm($event)">
    <div>
        <label for="firstName">Prénom :</label>
        <input type="text" name="firstName" id="firstName" [(ngModel)]="contact.firstName">
    </div>
    <div>
        <label for="lastName">Nom :</label>
        <input type="text" name="lastName" id="lastName" [(ngModel)]="contact.lastName">
    </div>
    <div>
        <label for="birthDate">Date de naissance :</label>
        <input type="date" name="birthDate" id="birthDate" [(ngModel)]="contact.birthDate">
    </div>
    <div>
        <label for="mail">E-mail :</label>
        <input type="email" name="mail" id="mail" [(ngModel)]="contact.mail">
    </div>
    <div>
        <label for="phone">Téléphone :</label>
        <input type="text" name="phone" id="phone" [(ngModel)]="contact.phone">
    </div>
    <div>
        <button class="btn btn-primary">Envoyer</button>
    </div>
</form>