<h2>Créer un minuteur</h2>
<p>Saisissez une durée pour démarrer un minuteur :</p>

<form action="#" (submit)="onSubmitTimerForm($event)">
    <div>
        <label for="hours">Heures :</label>
        <input type="number" id="hours" #hours>
    </div>
    <div>
        <label for="minutes">Minutes :</label>
        <input type="number" id="minutes" #minutes>
    </div>
    <div>
        <label for="seconds">Secondes :</label>
        <input type="number" id="seconds" #seconds>
    </div>
    <div>
        <button>Lancer un minuteur</button>
    </div>
</form>