<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Controller simple</h2>
<ul>
    <li><a href="http://localhost:8080/person/detail">Une personne</a></li>
    <li><a href="http://localhost:8080/persons/details">Deux personnes</a></li>
    <li><a href="http://localhost:8080/persons">Liste de personnes</a></li>
</ul>

<h2>Controller Rest</h2>
<ul>
    <li><a href="http://localhost:8080/api/v1/person/detail">Une personne</a></li>
    <li><a href="http://localhost:8080/api/v1/persons/details">Deux personnes</a></li>
    <li><a href="http://localhost:8080/api/v1/persons">Liste de personnes</a></li>
</ul>
</body>
</html>