<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des contacts</title>
    <th:block th:replace="~{home :: BootstrapImports}" />
</head>
<body>
<header th:insert="~{home :: nav}"></header>
<main class="container">
    <div>
        <h1 class="display-5">
            Liste des contacts
        </h1>

        <hr>
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <a th:href="@{/contacts/add}" class="btn btn-success"><span class="bi bi-plus-circle"></span> Ajouter un contact</a>
            </div>
            <form class="row" action="#" th:action="@{/contacts}" method="post">
                <label for="filter" class="col-auto col-form-label">Filtrer par nom :</label>
                <div class="col-auto">
                    <input type="text" id="filter" class="form-control" th:name="filter">
                </div>
                <button class="btn btn-secondary col-auto">Filtrer</button>
            </form>
        </div>

        <hr>
        <p th:if="${contacts.isEmpty()}">
            Aucun contact à afficher
        </p>
        <table class="table table-light table-striped text-center" th:unless="${contacts.isEmpty()}">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="contact : ${contacts}" th:object="${contact}">
                    <td th:text="*{lastName}"></td>
                    <td th:text="*{firstName}"></td>
                    <td>
                        <a th:href="@{/contacts/details/{contactId}(contactId = ${contact.getId()})}" class="btn btn-info"><span class="bi bi-eye"></span> Détails</a>
                        <a th:href="@{/contacts/edit/{contactId}(contactId = ${contact.getId()})}" class="btn btn-warning"><span class="bi bi-pencil-square"></span> Modifier</a>
                        <a th:href="@{/contacts/delete/{contactId}(contactId = ${contact.getId()})}" class="btn btn-danger"><span class="bi bi-trash"></span> Supprimer</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>