<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
</head>
<body>
    <main>
        <h1 th:text="${mode}"></h1>
        <hr>
        <form th:action="@{/auth/{mode}(mode = ${mode})}" method="post" th:object="${authRequest}">
            <div>
                <label for="email">Email :</label>
                <input type="email" id="email" required th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}">Invalid email</span>
            </div>
            <div>
                <label for="password">Password :</label>
                <input type="password" id="password" required th:field="*{password}">
                <span th:if="${#fields.hasErrors('password')}">Invalid password</span>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </main>
</body>
</html>